/* src/styles/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.app {
  font-family: Arial, sans-serif;
}

.content {
  margin-left: 15px;
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }

  .sidebarOpen {
    left: 0;
  }
}